events {}
http {
    server {
        listen {{ port }} default_server;
        listen [::]:{{ port }} default_server;
        server_name _;
        root {{ root }};
        location / {
            try_files $uri $uri/ =404;
        }
    }
}
